body {
    background: #242424;
    color: #fff;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    display: flex;
    flex-direction: column;

    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin:0
}

header {
    background: #09cdda;
    color: #000;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 20vh;
    padding: 1rem 0;
    border-bottom: .1rem solid #fff;
}

h1 {
    margin: 0;
    line-height: 2rem;
}

.soundBoard {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr); /* Define columns */
    grid-template-rows: repeat(var(--num-rows), 1fr); /* Define rows */
    gap: 1rem; /* Gap between grid items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}


.soundButton {
    /* background: #333; */
    background:  linear-gradient(130deg, #000 -5%,#78036e 75%, #fff 110%);
    /* background: radial-gradient(circle, rgb(29, 26, 45) 0%, rgb(29, 26, 45) 50%, rgb(0, 0, 0) 100%); */

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    min-width: 10rem;
    aspect-ratio: 1/1;
    width: 8vh;
    margin: 1rem;
    border: .1rem solid #555;
    border-radius: 5px;

    transition: all 0.3s ease;
}

.soundButton:active {
    transform: scale(0.7);

    transition: all 0.3s ease;
}


